<nav>
  <a href="/nav">inicio</a>
  <a href="/vehiculos">Ver Vehículos Disponibles</a>
  <a href="/registro">Registro</a>
  <a href="/inicio-sesion">Iniciar Sesión</a>
  <a href="/cancelaralquiler">Cancelar Alquiler</a>
  <a href="/registro">Cerrar</a>
</nav>
<div>
    <h2>Cancelar Alquiler</h2>
  
    <label for="idUsuario">ID Usuario:</label>
    <input type="number" id="idUsuario" [(ngModel)]="idUsuario" placeholder="Ingrese el ID">
    <button (click)="buscarAlquileres()">Buscar</button>
  
    <table *ngIf="alquileres.length > 0">
      <thead>
        <tr>
          <th>ID Alquiler</th>
          <th>Vehículo</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alquiler of alquileres">
          <td>{{ alquiler.idAlquiler }}</td>
          <td>{{ alquiler.vehiculo.idVehiculo }}</td>
          <td>{{ alquiler.fechaInicio }}</td>
          <td>{{ alquiler.fechaFin }}</td>
          <td><button (click)="cancelarAlquiler(alquiler.idAlquiler)">Cancelar</button></td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="alquileres.length === 0">No hay alquileres para este usuario.</p>
  </div>
  